.layout-wrapper,
.layout-wrapper * {
  box-sizing: border-box;
}
.layout-wrapper {
  background: #ffffff;
  padding: 0rem var(--space-margin-sidemargin, 22.5rem) 0rem
    var(--space-margin-sidemargin, 22.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-cmargin-s, 3rem);
  align-items: center;
  justify-content: flex-start;
  position: relative;

}
.header {
  background: var(--background-default-default, #ffffff);
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0rem 0rem 0.0625rem 0rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 4.375rem;
  position: relative;
  overflow: hidden;
}
.header-logo {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: var(--icon-large, 2.5rem);
  height: var(--icon-large, 2.5rem);
  position: relative;
}
.hdd-fill {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.shield-plus {
  width: 66.67%;
  height: 66.67%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 33.33%;
  top: 0%;
  overflow: visible;
}
.header-nav {
  display: flex;
  flex-direction: row;
  gap: var(--icon-large, 2.5rem);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.nav-item--active {
  background: var(--background-brand-tertiary, #f5f5f5);
  border-radius: var(--radius-200, 0.5rem);
  padding: var(--space-200, 0.5rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.item-text {
  color: var(--text-brand-on-brand-secondary, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 1rem);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-item {
  border-radius: var(--radius-200, 0.5rem);
  padding: var(--space-200, 0.5rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.header-auth {
  display: flex;
  flex-direction: row;
  gap: var(--space-300, 0.75rem);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 11.125rem;
  position: relative;
}
.auth__button-register {
  background: var(--background-neutral-tertiary, #e3e3e3);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-neutral-secondary, #767676);
  border-width: 0.0625rem;
  padding: var(--space-200, 0.5rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.text-button--neutral {
  color: var(--text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-basesl-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-basesl-font-size, 1rem);
  line-height: var(--single-line-body-basesl-line-height, 100%);
  font-weight: var(--single-line-body-basesl-font-weight, 400);
  position: relative;
}
.auth__button-login {
  background: var(--background-brand-default, #2c2c2c);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-brand-default, #2c2c2c);
  border-width: 0.0625rem;
  padding: var(--space-200, 0.5rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.text-button--primary {
  color: var(--text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-basesl-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-basesl-font-size, 1rem);
  line-height: var(--single-line-body-basesl-line-height, 100%);
  font-weight: var(--single-line-body-basesl-font-weight, 400);
  position: relative;
}
.content__search-form {
  background: var(--color-grey, #9f9fa1);
  padding: var(--space-4000, 10rem) var(--space-600, 1.5rem)
    var(--space-4000, 10rem) var(--space-600, 1.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-800, 2rem);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.search-form__title-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.search-form__title {
  color: var(--text-default-default, #1e1e1e);
  text-align: center;
  font-family: var(--title-hero-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-hero-font-size, 4.5rem);
  line-height: var(--title-hero-line-height, 120%);
  letter-spacing: var(--title-hero-letter-spacing, -0.03em);
  font-weight: var(--title-hero-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.search-form__subtitle {
  color: var(--text-default-secondary, #757575);
  text-align: center;
  font-family: var(--subtitle-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subtitle-font-size, 2rem);
  line-height: var(--subtitle-line-height, 120%);
  font-weight: var(--subtitle-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form__input-group {
  display: flex;
  flex-direction: row;
  gap: var(--space-300, 0.75rem);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.search-form__input {
  background: var(--background-default-default, #ffffff);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0.0625rem;
  padding: var(--space-300, 0.75rem) var(--space-400, 1rem)
    var(--space-300, 0.75rem) var(--space-400, 1rem);
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.button-search {
  background: var(--background-brand-default, #2c2c2c);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-brand-default, #2c2c2c);
  border-width: 0.0625rem;
  padding: var(--space-300, 0.75rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.accodion-container {
  background: var(--background-default-default-hover, #f5f5f5);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0.0625rem;
  padding: var(--padding-lg, 1rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-200, 0.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.text-accodion-title {
  color: var(--text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 1rem);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  flex: 1;
}

.btn-accodion {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: visible;
}

.accodion-content {
  display: none;
  /*flex*/
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}