<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설정</title>
    <link rel="stylesheet" href="../../static/styles/styles.css">
</head>
<body>
<div class="settings-container">
    <h2>설정</h2>
    <form id="apiKeyForm">
        <div class="input-group">
            <label for="apikey">ChatGPT API Key 입력</label>
            <input type="text" id="apikey" name="apikey" placeholder="ChatGPT API Key 여기" required>
        </div>
        <div class="button-group">
            <button type="submit" class="button-primary text-button--primary">확인</button>
          </div>
    </form>
</div>

<script>
document.getElementById('apiKeyForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    // Get the API key value from the input field
    const apiKey = document.getElementById('apikey').value;
    

    // Send the API key to the server using fetch
    fetch('/gptkey/change', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({key:apiKey})
    })
    .then(response => response.json())
    .then(data => {
        alert("성공")
        window.location.href = "/ruleresult"
        // Optionally, you can display a message or redirect the user here
    })
    .catch((error) => {
        alert("실패")
    });
});
</script>
</body>
</html>
