<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/vars/vars.css">
  <link rel="stylesheet" href="../static/styles/styles.css">
  <title>IPS Rule Advisor</title>
</head>

<body>
  <div class="layout-wrapper">
    <header class="header">
      <div class="header-logo">
        <button class="logo" onclick="window.location.href='/';">
          <img class="hdd-fill" src="../static/vectors/logo-hdd-fill0.svg" alt="hdd-icon"/>
          <img class="shield-plus" src="../static/vectors/logo-shield-plus0.svg" alt="shield-icon"/>
        </button>
      </div>
      <div class="header-nav">
        <a class="nav-item--active item-text" href="./getinfo_search.html">정보수집</a>
        <a class="nav-item item-text" href="./ruletest.html">룰 테스트</a>
        <!-- <a class="nav-item item-text" href="">마이페이지</a> -->
      </div>
      <div class="header-auth">
        <div class="auth-profile">
          <div class="avatar-img">
            <img class="shape" src="../static/images/avatar-0.png" />
          </div>
          <div class="profile-name">
            <div class="text-name">YSD 님</div>
          </div>
        </div>
      </div>
    </header>
    <div class="main-container">
      <div class="card-cve-info">
        <div class="card__title" id="cve-id">{{ info.cve }}</div>
        <div class="line-seperate"></div>
        <div class="card__text">게시일 : {{ info.cve_posting_date }} | 최종 수정일 : {{ info.last_modified_date }}</div>
        <div class="card__text">취약점 유형 : {{ info.vuln_type }}</div>
        <div class="card__text">
          {{ info.description }}
        </div>
        <div class="accordion-container">
          <div class="accordion-title">
            <div class="text-accordion-title">CVE 정보 수집 결과 자세히 보기</div>
            <img class="btn-accordion" src="../static/vectors/btn-accordion-up.svg" />
          </div>
          <div class="accordion-content">
            <div class="text-accordion-content-subtitle">영향받는 제품</div>
            <div class="line-bar"></div>
            <div class="table">
              <div class="table-header">
                <div class="table-grid">
                  <div class="table__cell text-cell">CPE</div>
                  <div class="table__cell text-cell">포함 버전</div>
                  <div class="table__cell text-cell">비포함 버전</div>
                </div>
              </div>
          
              <!-- CPE 리스트 출력 -->
              {% if info.cpe.CPE_List %}
              {% for cpe in info.cpe.CPE_List %}
              <div class="table-row">
                <div class="table-grid">
                  <div class="table__cell text-cell">{{ cpe.CPE | default('정보 없음') }}</div>
                  <div class="table__cell text-cell">{{ cpe.포함 | default('-') }}</div>
                  <div class="table__cell text-cell">{{ cpe.비포함 | default('-') }}</div>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <p>정보가 없습니다.</p>
              {% endif %}
            </div>

            <div class="text-accordion-content-subtitle">CVSS</div>
            <div class="tab-container">
              <div class="tab-item--unselected text-tab--unselected">CVSS 2.0</div>
              <div class="tab-item--selected text-tab--selected">CVSS 3.x</div>
              <div class="tab-item--unselected text-tab--unselected">CVSS 4.0</div>
            </div>
            <div class="table">
              <div class="table-header">
                <div class="table-grid">
                  <div class="table__cell text-cell">기본 점수</div>
                  <div class="table__cell text-cell">악용 가능성 점수</div>
                  <div class="table__cell text-cell">영향 점수</div>
                </div>
              </div>
              <div class="table-row">
                <div class="table-grid">
                  <div class="table__cell text-cell">{{ info.score }}</div>
                  <div class="table__cell text-cell">{{ info.exploit_score }}</div>
                  <div class="table__cell text-cell">{{ info.influence_score }}</div>
                </div>
              </div>
            </div>
            <div class="text-accordion-content-subtitle">매트릭 요약</div>
            <div class="text-accordion">
              {{ info.metrics_summary }}
            </div>
          </div>
        </div>
      </div>
      <div class="card-rule-result">
        <div class="card__title">테스트 결과</div>
        <div class="line-seperate"></div>
        <div class="card__subtitle">테스트 IPS 룰</div>
        <div class="card__rulebox">
          <div class="text-rulebox">
            {{ test.rule }}
          </div>
        </div>
        <div class="accordion-container">
          <div class="accordion-title">
            <div class="text-accordion-title">IPS 룰 테스트 결과 자세히 보기</div>
            <img class="btn-accordion" src="../static/vectors/btn-accordion-up.svg" />
          </div>
          <div class="accordion-content">
            <div class="text-accordion-content-subtitle">테스트 환경</div>
            <div class="table">
              <div class="table-header">
                <div class="table-grid">
                  <div class="table__cell text-cell">테스트 환경</div>
                  <div class="table__cell text-cell">총 테스트 패킷</div>
                  <div class="table__cell text-cell">공격 패킷</div>
                  <div class="table__cell text-cell">정상 패킷</div>
                </div>
              </div>
              <div class="table-row">
                <div class="table-grid">
                  <div class="table__cell text-cell">{{ test.setting }}</div>
                  <div class="table__cell text-cell">{{ test.total }}</div>
                  <div class="table__cell text-cell">{{ test.attacknum }}</div>
                  <div class="table__cell text-cell">{{ test.normalnum }}</div>
                </div>
              </div>
            </div>
            <div class="text-accordion-content-subtitle">정확도 테스트 결과</div>
            <div class="table">
              <div class="table-header">
                <div class="table-grid">
                  <div class="table__cell text-cell">정확도 비율</div>
                  <div class="table__cell text-cell">오탐 패킷(률)<br />(False Positive)</div>
                  <div class="table__cell text-cell">미탐 패킷(률)<br />(False Negative)</div>
                  <div class="table__cell text-cell">정탐 패킷(률)<br />(True Positive)</div>
                  <div class="table__cell text-cell">정탐 패킷(률)<br />(True Negative)</div>
                </div>
              </div>
              <div class="table-row">
                <div class="table-grid">
                  <div class="table__cell text-cell">{{ test.accuracyrate }}</div>
                  <div class="table__cell text-cell">{{ test.attackrate }}</div>
                  <div class="table__cell text-cell">{{ test.normalrate }}</div>
                  <div class="table__cell text-cell">{{ test.attacktrue }}</div>
                  <div class="table__cell text-cell">{{ test.normaltrue }}</div>
                </div>
              </div>
            </div>
            <div class="text-accordion-content-subtitle">성능 테스트 결과</div>
            <div class="table">
              <div class="table-header">
                <div class="table-grid">
                  <div class="table__cell text-cell">지연 시간</div>
                  <div class="table__cell text-cell">CPU 사용량</div>
                  <div class="table__cell text-cell">메모리 사용량</div>
                </div>
              </div>
              <div class="table-row">
                <div class="table-grid">
                  <div class="table__cell text-cell">{{ test.normallatency }}</div>
                  <div class="table__cell text-cell">{{ test.normalcpu_usage }}</div>
                  <div class="table__cell text-cell">{{ test.normalmemory_usage }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-comment">
        <div class="card__title">유저 의견</div>
        <div class="line-seperate"></div>
        <div class="comment-area">
          {% if comments %}
            {% for comment in comments %}
            <div class="comment-block">
              <div class="avatar-img">
                <img class="img" src="../static/images/avatar-0.png" />
              </div>
              <div class="comment-block-right">
                <div class="comment-info">
                  <div class="text-comment-name">{{ comment.user_name | default('익명 사용자') }}</div>
                  <div class="text-comment-time">{{ comment.timestamp | default('알 수 없음') }}</div>
                </div>
                <div class="text-comment-text">
                  {{ comment.content }}
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>
        <div class="textarea-field">
          <input class="textarea" placeholder="의견 추가..."></input>
        </div>
        <button class="button-primary text-button--primary" onclick="addComment()">의견 남기기</button>
      </div>
    </div>
  </div>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // 아코디언 기능
    const accordionTitles = document.querySelectorAll('.accordion-title');
    accordionTitles.forEach(title => {
      title.addEventListener('click', function () {
        const accordionContainer = this.parentElement;
        const accordionContent = accordionContainer.querySelector('.accordion-content');
        const accordionButton = this.querySelector('.btn-accordion');

        accordionContainer.classList.toggle('active');
        accordionContent.style.display = accordionContainer.classList.contains('active') ? 'flex' : 'none';
        accordionButton.src = accordionContainer.classList.contains('active')
          ? '../static/vectors/btn-accordion-up.svg'
          : '../static/vectors/btn-accordion-down.svg';
      });
    });
  });

  async function addComment() {
    const textarea = document.querySelector('.textarea');
    const commentText = textarea.value;
    const cveId = document.getElementById('cve-id').innerText.trim();

    if (!commentText) {
        alert('댓글을 입력해주세요.');
        return;
    }

    const comment = {
        cve: cveId,
        content: commentText
    };

    console.log(comment)

    // 댓글 데이터 서버로 POST 요청
    const response = await fetch('/comments', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(comment)
    });

    if (response.ok) {
        // 댓글 작성 성공 시
        textarea.value = ''; // 입력 필드를 비움
        alert('댓글이 성공적으로 추가되었습니다.');
        location.reload(); // 페이지 새로고침
    } else {
        alert('댓글 추가 중 오류가 발생했습니다.');
    }
}

</script>

</html>