<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>S-aide - 최신 보안 정보 제공 사이트</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet">

    <!-- Template getinfo CSS File -->
    <link href="../static/styles/getinfo.css" rel="stylesheet">
    <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="../static/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">S-aide</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

    </header><!-- End Header -->

    <!-- 사이드바 임포트 -->
    {% include 'sidebar.html' %}

    
    <main id="main" class="main">

        <div class="spinner-container text-center d-none">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="loading-message">검색중입니다...</div>
        </div>
        
        <section class="section">
            <div class="row justify-content-center">
                <div class="col-lg-8"> <!-- 너비를 줄여 중앙 정렬 -->
                    <div class="search-area text-center" style="margin-top: 200px;"> <!-- 중앙 정렬을 위해 text-center 추가, 여백 추가 -->
                        <h2 class="section-title">보안 취약점 정보 검색</h2>
                        <p>CVE 코드, 키워드, 등...</p>
    
                        <!-- 검색 바 -->
                        <div class="search-bar mb-4">
                            <form class="search-form d-flex align-items-center" id="cve-form" method="get" action="/getinfo">
                                <input id="cve_code" type="text" name="cve_code" placeholder="Search" title="Enter search keyword" required style="flex: 1; margin-right: 10px;" autocomplete="off">
                                
                                <!-- 필터 선택된 옵션을 서버로 전달 -->
                                <input type="hidden" name="filter_type" id="filter_type" value="CVE">
    
                                <button type="submit" title="Search" id="submit-btn" style="flex-shrink: 0;">
                                    <i class="bi bi-search"></i>
                                </button>
                            </form>

                            <!-- 검색 기록을 표시할 드롭다운 리스트 -->
                            <ul id="search-history" class="list-group" style="display: none; position: absolute; z-index: 1000; width: 100%; max-height: 200px; overflow-y: auto; padding: 0;">
                            </ul>
                            
                        </div>
    
                        <!-- 필터 옵션 클릭 시 filter_type 업데이트 -->
                        <div class="row row-cols-auto mb-3 justify-content-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="radio" name="filter_type_option" id="filter_cve" value="CVE" checked>
                                <label class="form-check-label" for="filter_cve">CVE 코드</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="radio" name="filter_type_option" id="filter_keyword" value="Keyword">
                                <label class="form-check-label" for="filter_keyword">키워드</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="radio" name="filter_type_option" id="filter_news" value="News">
                                <label class="form-check-label" for="filter_news">뉴스기사, 칼럼</label>
                            </div>
                        </div>
    
                        <!-- 검색 결과 -->
                        {% if search_results %}
                        <div class="datatable-container">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 5%;">#</th>
                                        <th scope="col" style="width: 10%;">CVE</th>
                                        <th scope="col" style="width: 85%;">설명</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for result in search_results %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td><a href="/getinfo?cve_code={{ result.cve_code }}">{{ result.cve_code }}</a></td>
                                        <td>{{ result.description }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="datatable-bottom">
                            <div class="datatable-info">#n ~ #m / 총 {{ search_results|length }}개의 검색 결과</div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link disabled" href="#" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {% else %}
                        <!-- <p>정보가 없습니다.</p> -->
                        {% endif %}


                        <!-- 검색 결과 -->
                        {% if news_search_results %}
                        <div class="datatable-container">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 5%;">#</th>
                                        <th scope="col" style="width: 15%;">타이틀</th>
                                        <th scope="col" style="width: 80%;">요약</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for result in news_search_results %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td><a href="{{ result.link }}">{{ result.title }}</a></td>
                                        <td>{{ result.description }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="datatable-bottom">
                            <div class="datatable-info">#n ~ #m / 총 {{ news_search_results|length }}개의 검색 결과</div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link disabled" href="#" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        {% else %}
                        <!-- <p>정보가 없습니다.</p> -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../static/assets/vendor/echarts/echarts.min.js"></script>
    <script src="../static/assets/vendor/quill/quill.js"></script>
    <script src="../static/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../static/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
    <!-- getinfo Js File -->
    <script src="../static/scripts/getinfo.js"></script>

</body>
</html>
