<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/vars.css">
  <link rel="stylesheet" href="../static/css/getinfo.css">
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>IPS Rule Advisor</title>
</head>
<body>
  <div class="layout-wrapper">
    <header class="header">
      <div class="header-logo">
        <div class="logo">
          <img class="hdd-fill" src="../static/vectors/logo-hdd-fill0.svg" />
          <img class="shield-plus" src="../static/vectors/logo-shield-plus0.svg" />
        </div>
      </div>
      <div class="header-nav">
        <a class="nav-item--active item-text" href="">정보수집</a>
        <a class="nav-item item-text" href="/ruletest">룰 테스트</a>
        <!--<a class="nav-item item-text" href="">마이페이지</a> -->
      </div>
      <div class="header-auth" id="auth-container">
        <form action="/register" method="get" class="auth__form-register">
          <button class="auth__button-register text-button--neutral">회원가입</button>
        </form>
        <form action="/login" method="get" class="auth__form-login">
          <button class="auth__button-login text-button--primary">로그인</button>
        </form>
      </div>
    </header>
    <form class="content__search-form" id="cve-form" action="/getinfo" method="get">
      <div class="search-form__title-group">
        <div class="search-form__title">CVE 정보 검색</div>
        <div class="search-form__subtitle">CVE 코드, 키워드 등...</div>
      </div>
      <div class="search-form__input-group">
          <input class="search-form__input" id="cve_code" name="cve_code" type="text"
            placeholder="CVE-2000-12345, log4j, etc..." required />
        <button class="button-search text-button--primary" type="submit">검색</button>
      </div>
    </form>
  </div>

  <script>
    function getCookie(name) {
      let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    document.addEventListener("DOMContentLoaded", function() {
      const userCookie = getCookie('user');
      const authContainer = document.getElementById('auth-container');

      if (userCookie) {
        authContainer.innerHTML = `
          <button class="auth__button-logout text-button--neutral" id="logout-button">로그아웃</button>
        `;

        const logoutButton = document.getElementById('logout-button');
        logoutButton.addEventListener('click', function() {
          fetch('/auth/sign_out', {
            method: 'GET',
          }).then(response => {
            if (response.ok) {
              window.location.href = '/';
            } else {
              alert('로그아웃에 실패했습니다.');
            }
          }).catch(error => {
            console.error('Error:', error);
            alert('로그아웃 중 문제가 발생했습니다.');
          });
        });
      }
    });
  </script>
</body>
</html>

