<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/vars/vars.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>IPS Rule Advisor</title>
    <style>
        .accordion {
            cursor: pointer;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            background-color: #f1f1f1;
            text-align: left;
            outline: none;
            transition: background-color 0.3s ease;
        }

        .accordion.active {
            background-color: #ddd;
        }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }

        .panel.show {
            display: block;
        }
    </style>
</head>
<body>
    <div class="layout-wrapper">
        <header class="header">
            <div class="header-logo">
                <div class="logo">
                <img class="hdd-fill" src="../static/vectors/logo-hdd-fill0.svg" />
                <img class="shield-plus" src="../static/vectors/logo-shield-plus0.svg" />
                </div>
            </div>
            <div class="header-nav">
                <a class="nav-item item-text" href="/">정보수집</a>
                <a class="nav-item--active item-text" href="/ruletest">룰 테스트</a>
                <a class="nav-item item-text" href="/mypage">마이페이지</a>
            </div>
            <div class="header-auth">
                <div class="auth-profile">
                    <div class="avatar-img">
                        <img class="shape" src="../static/images/avatar-0.png" />
                    </div>
                    <div class="profile-name">
                        <div class="text-name">YSD 님</div>
                    </div>
                </div>
            </div>
        </header>
        
        <form id="ruleTestForm" class="card-rule-form">
            <div class="card__title">마이페이지</div>
            <div class="line-seperate"></div>

            <div class="form-input">
                <h2>과거 기록들</h2>

                <h3 class="accordion">정보수집 기록</h3>
                <div class="panel table">
                    <div class="table-header">
                        <div class="table-grid">
                            <div class="table__cell text-cell">날짜</div>
                            <div class="table__cell text-cell">CVE 코드</div>
                        </div>
                    </div>
                    {% for record in info_cve %}
                    <div class="table-row">
                        <div class="table-grid">
                            <div class="table__cell text-cell" id="test-environment">{{ record[0] if record[0] is not none else '정보 없음' }}</div>
                            <div class="table__cell text-cell" id="total-packets"><a href="/infoshow?uuid={{ record[2] }}">{{ record[1] if record[1] is not none else '정보 없음' }}</a></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h3 class="accordion">룰 테스트 기록</h3>
                <div class="panel table">
                    <div class="table-header">
                        <div class="table-grid">
                            <div class="table__cell text-cell">날짜</div>
                            <div class="table__cell text-cell">CVE 코드</div>
                            <div class="table__cell text-cell">rule</div>
                        </div>
                    </div>
                    {% for record in test_cve %}
                    <div class="table-row">
                        <div class="table-grid">
                            <div class="table__cell text-cell" id="test-environment">{{ record[0] if record[0] is not none else '정보 없음' }}</div>
                            <div class="table__cell text-cell" id="total-packets"><a href="/ruletest/result?testid={{ record[3] }}">{{ record[1] if record[1] is not none else '정보 없음' }}</a></div>
                            <div class="table__cell text-cell" id="total-packets">{{ record[2] if record[2] is not none else '정보 없음' }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <h3 class="accordion">최종보고서 기록</h3>
                <div class="panel table">
                    <div class="table-header">
                        <div class="table-grid">
                            <div class="table__cell text-cell">날짜</div>
                            <div class="table__cell text-cell">CVE 코드</div>
                        </div>
                    </div>
                    {% for record in info_cve %}
                    <div class="table-row">
                        <div class="table-grid">
                            <div class="table__cell text-cell" id="test-environment">{{ record[0] if record[0] is not none else '정보 없음' }}</div>
                            <div class="table__cell text-cell" id="total-packets"><a href="/finalreport?cve_code={{ record[1] }}">{{ record[1] if record[1] is not none else '정보 없음' }}</a></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            <div class="form-input"></div>
                <h2>기타</h2>
                <h4>계정 관리</h4>
                <h4>결제 관리</h4>
                <h4>설정</h4>
            </div>
        </form>
    
    </div>


    <script>

        const rowsPerPage = 5;  // Number of records per page
        let currentPage = 1;

        // Function to display a specific page of the data
        function displayPage(page) {
            const tableBody = document.getElementById('record-table-body');
            tableBody.innerHTML = ''; // Clear the table
            const start = (page - 1) * rowsPerPage;
            const end = start + rowsPerPage;
            const paginatedData = data.slice(start, end);

            paginatedData.forEach((record, index) => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${start + index + 1}</td>
                    <td>${record.cve}</td>
                    <td>${record.last_modified_date}</td>
                `;

                // Make the row clickable
                row.addEventListener('click', function() {
                    // Replace this URL with the actual URL you want to navigate to
                    window.location.href = `/infoshow?uuid=${record.id}`;
                });

                tableBody.appendChild(row);
            });

            setupPagination();
        }

        // Function to set up the pagination buttons
        function setupPagination() {
            const paginationDiv = document.getElementById('pagination');
            paginationDiv.innerHTML = '';  // Clear existing pagination buttons
            const pageCount = Math.ceil(data.length / rowsPerPage);
            const maxPages = 5;  // Maximum number of pagination buttons to show

            // Calculate the range of pages to show
            let startPage = Math.max(1, currentPage - Math.floor(maxPages / 2));
            let endPage = Math.min(pageCount, startPage + maxPages - 1);

            if (endPage - startPage < maxPages - 1) {
                startPage = Math.max(1, endPage - maxPages + 1);
            }

            // Create "Previous" button
            if (currentPage > 1) {
                const prevButton = document.createElement('a');
                prevButton.href = '#';
                prevButton.innerText = '« ';
                prevButton.addEventListener('click', function(event) {
                    event.preventDefault();
                    currentPage--;
                    displayPage(currentPage);
                });
                paginationDiv.appendChild(prevButton);
            }

            // Create page number buttons
            for (let i = startPage; i <= endPage; i++) {
                const pageButton = document.createElement('a');
                pageButton.href = '#';
                pageButton.innerText = i+" ";
                if (i === currentPage) {
                    pageButton.classList.add('active');
                }

                pageButton.addEventListener('click', function(event) {
                    event.preventDefault();
                    currentPage = i;
                    displayPage(currentPage);
                });

                paginationDiv.appendChild(pageButton);
            }

            // Create "Next" button
            if (currentPage < pageCount) {
                const nextButton = document.createElement('a');
                nextButton.href = '#';
                nextButton.innerText = '»';
                nextButton.addEventListener('click', function(event) {
                    event.preventDefault();
                    currentPage++;
                    displayPage(currentPage);
                });
                paginationDiv.appendChild(nextButton);
            }
        }

        // Initial page load
        displayPage(currentPage);

    </script>

<script>
    // 모든 아코디언 요소 선택
    var acc = document.getElementsByClassName("accordion");

    // 클릭 이벤트 추가
    for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            // 아코디언 버튼을 활성화/비활성화
            this.classList.toggle("active");

            // 패널을 열거나 닫음
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>

</body>
</html>
