<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>설정 - S-aide</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="../static/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">S-aide</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

  </header><!-- End Header -->

  <!-- 사이드바 임포트 -->
  {% include 'sidebar.html' %}

  <main id="main" class="main">
    <section class="section profile">
      <div class="row">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#setting-profile_overview">계정
                    정보</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#setting-profile_edit">계정 관리</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#setting-general">일반</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="setting-profile_overview">
                  <h5 class="card-title">계정 정보</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">E-mail</div>
                    <div class="col-lg-9 col-md-8">{{data.email}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">닉네임</div>
                    <div class="col-lg-9 col-md-8">{{ data.username }}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="setting-profile_edit">

                  <!-- Profile Edit Form -->
                  <form id="profileForm">
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">프로필 이미지</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="{{ data.image_url }}" alt="Profile">
                        <div class="pt-2">
                          <input type="file" id="profileImageUpload" name="profileImage" style="display: none;" accept="image/*">
                          <a href="#" id="uploadButton" class="btn btn-primary btn-sm" title="새 프로필 이미지 업로드"><i class="bi bi-upload"></i></a>
                          <a href="#" id="deleteButton" class="btn btn-danger btn-sm" title="프로필 이미지 삭제"><i class="bi bi-trash"></i></a>
     
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="nickname" class="col-md-4 col-lg-3 col-form-label">닉네임</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="nickname" type="text" class="form-control" id="nickname" value="{{ data.username }}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">현재 비밀번호</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">새로운 비밀번호</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">새 비밀번호 재입력</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" id="submit">변경사항 저장</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="setting-general">

                  <!-- Settings Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="darkmode" class="col-md-4 col-lg-3 col-form-label">다크 모드</label>
                      <div class="col-md-8 col-lg-9">
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="darkmode">
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="gptAPIKey" class="col-md-4 col-lg-3 col-form-label">ChatGPT API Key</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="gptAPIKey" type="text" class="form-control" id="gptAPIKey">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">변경사항 저장</button>
                    </div>
                  </form><!-- End settings Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="../static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="../static/assets/vendor/quill/quill.js"></script>
  <script src="../static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

<script>
document.addEventListener('DOMContentLoaded', () => {
  // Add event listener to the form submit
  document.getElementById('profileForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent the default form submission

    // Get the values from the input fields
    const nickname = document.getElementById('nickname').value;
    const curpass = document.getElementById('currentPassword').value;
    const newpass = document.getElementById('newPassword').value;
    const renewpass = document.getElementById('renewPassword').value;

    // Check if the new passwords match
    if (newpass !== renewpass) {
      alert("새 비밀번호가 일치하지 않습니다. 다시 입력해 주세요.");
      return; // Stop the form submission if the passwords don't match
    }

    // Regular expression to check password requirements
    const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{6,}$/;

    // Check if the new password meets the requirements
    if (!passwordPattern.test(newpass)) {
      alert("비밀번호는 6글자 이상이어야 하며, 대문자, 소문자, 숫자, 특수문자를 포함해야 합니다.");
      return; // Stop the form submission if the password doesn't meet the criteria
    }

    // Send the form data to the server using fetch
    fetch('/auth/changeprofile', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username: nickname,
        curpass: curpass,
        newpass: newpass
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data) {
        alert("성공");
        window.location.href = "/settings";
      } else {
        alert("실패");
        window.location.href = "/settings";
      }
    })
    .catch((error) => {
      alert("에러 발생: " + error);
    });
  });
});


  
  document.getElementById('uploadButton').addEventListener('click', function(event) {
    event.preventDefault();
    document.getElementById('profileImageUpload').click();
});


  document.getElementById('profileImageUpload').addEventListener('change', function() {
    const fileInput = document.getElementById('profileImageUpload');
    if (fileInput.files && fileInput.files[0]) {
        const formData = new FormData();
        formData.append('file', fileInput.files[0]);

        fetch('/uploadfile/profile', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data) {
                // 업로드 성공 시 이미지 미리보기 업데이트
                alert('이미지 업로드에 성공했습니다.');
                const imgElement = document.querySelector('img[alt="Profile"]');
                imgElement.src = `${data.image_url}?t=${new Date().getTime()}`;
            } else {
                alert('이미지 업로드에 실패했습니다.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
});


document.getElementById('deleteButton').addEventListener('click', function(event) {
    event.preventDefault();
    if (confirm('정말로 프로필 이미지를 삭제하시겠습니까?')) {
        fetch('/delete/profile', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ delete: true }),
        })
        .then(response => response.json())
        .then(data => {
            if (data) {
                // 삭제 성공 시 이미지 미리보기 제거 또는 기본 이미지로 변경
                alert('이미지 삭제에 성공했습니다.')
                const imgElement = document.querySelector('img[alt="Profile"]');
                imgElement.src = `${data.image_url}?t=${new Date().getTime()}`;
            } else {
                alert('이미지 삭제에 실패했습니다.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
});
  </script>

</body>

</html>

