<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>설정</title>
<link rel="stylesheet" href="../../static/styles/styles.css">
</head>
<body>
<div class="settings-container">
    <h2>설정</h2>
    <form>
        <div class="input-group">
            <label for="apikey">ChatGPT API Key 입력</label>
            <input type="text" id="apikey" name="apikey" placeholder="ChatGPT API Key 여기">
        </div>
        <div class="toggle-container">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="input-group">
            <button type="submit">확인</button>
        </div>
    </form>
</div>
</body>
</html>
