.layout-wrapper,
.layout-wrapper * {
  box-sizing: border-box;
}
.layout-wrapper {
  background: #ffffff;
  padding: 0rem var(--space-margin-sidemargin, 22.5rem) 0rem
    var(--space-margin-sidemargin, 22.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-cmargin-s, 3rem);
  align-items: center;
  justify-content: flex-start;
  position: relative;

}
.header {
  background: var(--background-default-default, #ffffff);
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0rem 0rem 0.0625rem 0rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 4.375rem;
  position: relative;
  overflow: hidden;
}
.header-logo {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: var(--icon-large, 2.5rem);
  height: var(--icon-large, 2.5rem);
  position: relative;
}
.hdd-fill {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.shield-plus {
  width: 66.67%;
  height: 66.67%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 33.33%;
  top: 0%;
  overflow: visible;
}
.header-nav {
  display: flex;
  flex-direction: row;
  gap: var(--icon-large, 2.5rem);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.nav-item--active {
  background: var(--background-brand-tertiary, #f5f5f5);
  border-radius: var(--radius-200, 0.5rem);
  padding: var(--space-200, 0.5rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.item-text {
  color: var(--text-brand-on-brand-secondary, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 1rem);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-item {
  border-radius: var(--radius-200, 0.5rem);
  padding: var(--space-200, 0.5rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.nav-item:hover {
  background: var(--background-brand-tertiary, #f5f5f5);
}
.header-auth {
  border-radius: var(--radius-200, 0.5rem);
  padding: var(--space-200, 0.5rem) var(--space-300, 0.75rem)
    var(--space-200, 0.5rem) var(--space-300, 0.75rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.auth-profile {
  display: flex;
  flex-direction: row;
  gap: var(--space-300, 0.75rem);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.avatar-img {
  border-radius: var(--radius-full, 624.9375rem);
  flex-shrink: 0;
  width: var(--icon-large, 2.5rem);
  height: var(--icon-large, 2.5rem);
  position: relative;
  overflow: hidden;
}
.shape {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: calc(50% - 1.25rem);
  top: calc(50% - 1.25rem);
  object-fit: cover;
}
.profile-name {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text-name {
  color: var(--text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 1rem);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.card-rule-form {
  background: #ffffff;
  border-radius: var(--space-radius-radius-m, 0.75rem);
  border-style: solid;
  border-color: var(--color-black, #333333);
  border-width: 0.0625rem;
  padding: var(--space-margin-margin-l, 1.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-margin-l, 1.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 75rem;
  position: relative;
  box-shadow: var(
    --info-shadow-box-shadow,
    0rem 0.5rem 0.25rem 0rem rgba(0, 0, 0, 0.25)
  );
}
.card__title {
  color: #000000;
  text-align: center;
  font-family: var(--title-page-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-page-font-size, 3rem);
  line-height: var(--title-page-line-height, 120%);
  letter-spacing: var(--title-page-letter-spacing, -0.02em);
  font-weight: var(--title-page-font-weight, 700);
  position: relative;
  width: 72rem;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: var(--space-200, 0.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label-input {
  color: var(--text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.input-text {
  background: var(--background-default-default, #ffffff);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0.0625rem;
  padding: var(--space-300, 0.75rem) var(--space-400, 1rem)
    var(--space-300, 0.75rem) var(--space-400, 1rem);
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 15rem;
  position: relative;
  overflow: hidden;
}
.dropdown-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-margin-s, 0.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 4.75rem;
  position: relative;
}
.dropdown-label {
  color: #000000;
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown-select {
  display: flex;
  gap: 0rem;
  align-items: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  background: var(--white, #ffffff);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: var(--blues-gray2, #b8bbc2);
  border-width: 0.08125rem;
  padding: 0.6875rem 1.125rem 0.6875rem 1.125rem;
}
.text-dropdown-item{
  color: var(--black, #313144);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card__row--center {
  display: flex;
  flex-direction: row;
  gap: var(--space-margin-margin-m, 1rem);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.slider-field {
  display: flex;
  flex-direction: row;
  gap: var(--space-margin-margin-m, 1rem);
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.slider-label {
  color: #000000;
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
}
.slider {
  flex: 1;
  height: 0.5rem;
  position: relative;
  accent-color: var(--slate-900, #0f172a);
}
.slider-rside {
  display: flex;
  flex-direction: column;
  gap: var(--space-padding-padding-s, 0.25rem);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-value {
  color: #000000;
  text-align: center;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.text-description {
  color: var(--text-default-secondary, #757575);
  text-align: center;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.card__row--left {
  display: flex;
  flex-direction: row;
  gap: var(--space-margin-margin-m, 1rem);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.checkbox-field {
  display: flex;
  flex-direction: row;
  gap: var(--space-300, 0.75rem);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.label-checkbox {
  color: var(--text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  flex: 1;
}
.checkbox-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-description {
  color: var(--text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  flex: 1;
}
.card__row--right {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.button-group {
  display: flex;
  flex-direction: row;
  gap: var(--space-margin-margin-m, 1rem);
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
.button-neutral {
  background: var(--background-neutral-tertiary, #e3e3e3);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-neutral-secondary, #767676);
  border-width: 0.0625rem;
  padding: var(--space-300, 0.75rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-button--neutral {
  color: var(--text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-basesl-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-basesl-font-size, 1rem);
  line-height: var(--single-line-body-basesl-line-height, 100%);
  font-weight: var(--single-line-body-basesl-font-weight, 400);
  position: relative;
}
.button-primary {
  background: var(--background-brand-default, #2c2c2c);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-brand-default, #2c2c2c);
  border-width: 0.0625rem;
  padding: var(--space-300, 0.75rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-button--primary {
  color: var(--text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-basesl-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-basesl-font-size, 1rem);
  line-height: var(--single-line-body-basesl-line-height, 100%);
  font-weight: var(--single-line-body-basesl-font-weight, 400);
  position: relative;
}
