.layout-wrapper,
.layout-wrapper * {
  box-sizing: border-box;
}
.layout-wrapper {
  background: #ffffff;
  padding: 0rem var(--space-margin-sidemargin, 22.5rem) 0rem
    var(--space-margin-sidemargin, 22.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-cmargin-s, 3rem);
  align-items: center;
  justify-content: flex-start;
  position: relative;

}
.header {
  background: var(--background-default-default, #ffffff);
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0rem 0rem 0.0625rem 0rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 4.375rem;
  position: relative;
  overflow: hidden;
}
.header-logo {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: var(--icon-large, 2.5rem);
  height: var(--icon-large, 2.5rem);
  position: relative;
}
.hdd-fill {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.shield-plus {
  width: 66.67%;
  height: 66.67%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 33.33%;
  top: 0%;
  overflow: visible;
}
.header-nav {
  display: flex;
  flex-direction: row;
  gap: var(--icon-large, 2.5rem);
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.nav-item--active {
  background: var(--background-brand-tertiary, #f5f5f5);
  border-radius: var(--radius-200, 0.5rem);
  padding: var(--space-200, 0.5rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.item-text {
  color: var(--text-brand-on-brand-secondary, #1e1e1e);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 1rem);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-item {
  border-radius: var(--radius-200, 0.5rem);
  padding: var(--space-200, 0.5rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.header-auth {
  border-radius: var(--radius-200, 0.5rem);
  padding: var(--space-200, 0.5rem) var(--space-300, 0.75rem)
    var(--space-200, 0.5rem) var(--space-300, 0.75rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.auth-profile {
  display: flex;
  flex-direction: row;
  gap: var(--space-300, 0.75rem);
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.avatar-img {
  border-radius: var(--radius-full, 624.9375rem);
  flex-shrink: 0;
  width: var(--icon-large, 2.5rem);
  height: var(--icon-large, 2.5rem);
  position: relative;
  overflow: hidden;
}
.shape {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: calc(50% - 1.25rem);
  top: calc(50% - 1.25rem);
  object-fit: cover;
}
.profile-name {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text-name {
  color: var(--text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 1rem);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-container {
  padding: 0rem 0rem var(--space-margin-cmargin-s, 3rem) 0rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-margin-xl, 2.5rem);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.card-cve-info {
  background: #ffffff;
  border-radius: var(--space-radius-radius-m, 0.75rem);
  border-style: solid;
  border-color: var(--color-black, #333333);
  border-width: 0.0625rem;
  padding: var(--space-margin-margin-l, 1.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-margin-l, 1.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 75rem;
  position: relative;
  box-shadow: var(
    --info-shadow-box-shadow,
    0rem 0.5rem 0.25rem 0rem rgba(0, 0, 0, 0.25)
  );
}
.card__title {
  color: #000000;
  text-align: left;
  font-family: var(--title-page-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title-page-font-size, 3rem);
  line-height: var(--title-page-line-height, 120%);
  letter-spacing: var(--title-page-letter-spacing, -0.02em);
  font-weight: var(--title-page-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.line-seperate {
  margin-top: -0.0625rem;
  border-style: solid;
  border-color: #000000;
  border-width: 0.0625rem 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0rem;
  position: relative;
}
.card__text .text-accodion{
  color: #000000;
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.accodion-container {
  background: var(--background-default-default-hover, #f5f5f5);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0.0625rem;
  padding: var(--padding-lg, 1rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-200, 0.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.accordion-title {
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-accodion-title {
  color: var(--text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 1rem);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  flex: 1;
}
.btn-accodion {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  overflow: visible;
}
.accodion-content {
  padding: var(--space-margin-margin-s, 0.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-margin-l, 1.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text-accodion-content-subtitle {
  color: var(--color-black, #333333);
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 1.5rem);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.table {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-header {
  background: var(--background-default-default-hover, #f5f5f5);
  border-radius: 0.375rem 0.375rem 0rem 0rem;
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0.0625rem;
  padding: 0rem 1.25rem 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 1.875rem;
  position: relative;
}
.table-header-hug{
  background: var(--background-default-default-hover, #f5f5f5);
  border-radius: 0.375rem 0.375rem 0rem 0rem;
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0.0625rem;
  padding: 0rem 1.25rem 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-grid-03 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.table__cell-03 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.text-cell {
  color: #333333;
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.table-row {
  background: #ffffff;
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0.0625rem;
  padding: 0rem 1.25rem 0rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 3.125rem;
  position: relative;
}
.line-bar {
  align-self: stretch;
  flex-shrink: 0;
  height: 0rem;
  position: relative;
}
.table-grid-01 {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.table__cell-01 {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  top: 0rem;
}
.tab-container {
  background: var(--background-neutral-tertiary, #e3e3e3);
  border-radius: 0.375rem;
  padding: 0.3125rem;
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.tab-item--unselected {
  border-radius: 0.1875rem;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-tab--unselected {
  color: var(--slate-900, #0f172a);
  text-align: left;
  font-family: var(--subtle-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--subtle-medium-font-size, 0.875rem);
  line-height: var(--subtle-medium-line-height, 1.25rem);
  font-weight: var(--subtle-medium-font-weight, 500);
  position: relative;
}
.tab-item--selected {
  background: #ffffff;
  border-radius: 0.1875rem;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-tab--selected {
  color: var(--slate-900, #0f172a);
  text-align: left;
  font-family: var(--subtle-medium-font-family, "Inter-Medium", sans-serif);
  font-size: var(--subtle-medium-font-size, 0.875rem);
  line-height: var(--subtle-medium-line-height, 1.25rem);
  font-weight: var(--subtle-medium-font-weight, 500);
  position: relative;
}
.card-rule-result {
  background: #ffffff;
  border-radius: var(--space-radius-radius-m, 0.75rem);
  border-style: solid;
  border-color: var(--color-black, #333333);
  border-width: 0.0625rem;
  padding: var(--space-margin-margin-l, 1.5rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-margin-l, 1.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 75rem;
  position: relative;
  box-shadow: var(
    --info-shadow-box-shadow,
    0rem 0.5rem 0.25rem 0rem rgba(0, 0, 0, 0.25)
  );
}
.card__rulebox {
  background: var(--background-neutral-tertiary, #e3e3e3);
  border-radius: var(--space-radius-radius-s, 0.5rem);
  padding: var(--space-margin-margin-s, 0.5rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-margin-margin-s, 0.5rem);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 72rem;
  position: relative;
}
.text-rulebox {
  color: #000000;
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  flex: 1;
}
.card-comment {
  background: #ffffff;
  border-radius: var(--space-radius-radius-m, 0.75rem);
  border-style: solid;
  border-color: var(--color-black, #333333);
  border-width: 0.0625rem;
  padding: var(--space-margin-margin-l, 1.5rem);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 75rem;
  position: relative;
  box-shadow: var(
    --info-shadow-box-shadow,
    0rem 0.5rem 0.25rem 0rem rgba(0, 0, 0, 0.25)
  );
}
.comment-area {
  display: flex;
  flex-direction: column;
  gap: var(--space-margin-margin-m, 1rem);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.comment-block {
  display: flex;
  flex-direction: row;
  gap: var(--space-padding-padding-m, 0.75rem);
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.img {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: calc(50% - 1.25rem);
  top: calc(50% - 1.25rem);
  object-fit: cover;
}
.comment-block-right {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.comment-info {
  display: flex;
  flex-direction: row;
  gap: var(--space-margin-margin-s, 0.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-comment-name {
  color: var(--text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-strong-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--body-strong-font-size, 1rem);
  line-height: var(--body-strong-line-height, 140%);
  font-weight: var(--body-strong-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text-comment-time {
  color: var(--text-default-secondary, #757575);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text-comment-text {
  color: var(--text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 1rem);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.avatar-initial {
  background: var(--background-brand-default, #2c2c2c);
  border-radius: var(--radius-full, 624.9375rem);
  flex-shrink: 0;
  width: var(--icon-large, 2.5rem);
  height: var(--icon-large, 2.5rem);
  position: relative;
  overflow: hidden;
}
.initials {
  color: var(--text-brand-on-brand, #f5f5f5);
  text-align: center;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 1.25rem);
  line-height: var(--subheading-line-height, 120%);
  font-weight: var(--subheading-font-weight, 400);
  position: absolute;
  left: calc(50% - 0.46875rem);
  top: calc(50% - 0.75rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.textarea-field {
  display: flex;
  flex-direction: column;
  gap: var(--space-200, 0.5rem);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.textarea {
  background: var(--background-default-default, #ffffff);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-default-default, #d9d9d9);
  border-width: 0.0625rem;
  padding: var(--space-300, 0.75rem) var(--space-400, 1rem)
    var(--space-300, 0.75rem) var(--space-400, 1rem);
  display: flex;
  flex-direction: row;
  gap: 0rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 15rem;
  min-height: 5rem;
  position: relative;
  overflow: hidden;
}
.button-primary {
  background: var(--background-brand-default, #2c2c2c);
  border-radius: var(--radius-200, 0.5rem);
  border-style: solid;
  border-color: var(--border-brand-default, #2c2c2c);
  border-width: 0.0625rem;
  padding: var(--space-300, 0.75rem);
  display: flex;
  flex-direction: row;
  gap: var(--space-200, 0.5rem);
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-button--primary {
  color: var(--text-brand-on-brand, #f5f5f5);
  text-align: left;
  font-family: var(
    --single-line-body-basesl-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-basesl-font-size, 1rem);
  line-height: var(--single-line-body-basesl-line-height, 100%);
  font-weight: var(--single-line-body-basesl-font-weight, 400);
  position: relative;
}
